{% extends "base.html" %}

{% block content %}
{{ super() }}

<h2>Добро пожаловать во Flask</h2> 
<p> Flask — фреймворк для создания веб-приложений на языке программирования Python, использующий набор инструментов Werkzeug, а также шаблонизатор Jinja2. Относится к категории так называемых микрофреймворков[en] — минималистичных каркасов веб-приложений, сознательно предоставляющих лишь самые базовые возможности.

    Поддерживается установка посредством пакетного менеджера PyPI, версия 1.0 совместима с Python 2.7, Python 3.3 и выше.
    
    Создатель и основной автор — австрийский программист Армин Ронахер, начал работу над проектом в 2010 году.</p>
<img src="static/images_html/flask.png" alt="flask">

<h3></h3>
{% endblock %}
